<!doctype html>
<html ng-app='routingApp'>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Swing Kings</title>
	<link href="css/vendor/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/calendar.css" rel="stylesheet">

	<script src="javascript/vendor/angular.min.js"></script>
	<script src="javascript/vendor/angular-route.min.js"></script>
  </head>

  <body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<a class="navbar-brand" href="#/Home">The Swing Kings</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
     <li><a href="#/Home">Home</a></li>
     <li><a href="#/WeddingsAndCorporate">Weddings And Corporate Gigs</a></li>
     <li><a href="#/OurMusic">Our Music</a></li>
     <li><a href="#/UpcomingGigs">Upcoming Gigs</a></li>
     <li><a href="#/MembersBios">Members Bios</a></li>
     <li><a href="#/ContactAndBookings">Contact & Bookings</a></li>
    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="main-container" ng-view></div>
<div class="main-footer navbar-fixed-bottom">
  <div id="container" class='col-md-12'>
			<div class='col-md-5'>	
				<p class="foot_para signup-text">
				<form ng-submit="submit()" class="form-horizontal" novalidate>
      		<label>Sign-up to our <label>Newsletter:
					<input type="checkbox" ng-model="checkboxModel.newsletter">
				</label>
				<label>Mailing List:
					<input type="checkbox" ng-model="checkboxModel.mailing">
				</label></label>
      		<input type="text" ng-model="user.firstname" size='20'/>
      		
      		<button class="btn">Submit</button>
</form>


				</p></div>
				<div class='col-md-2'>
				<p class="foot_para terms-text" align="center">
				  <a href="#/contact">Terms & Conditions</a> ~ <a href="#/contact">Contact us</a>
				</p>
			</div>
			<div class='col-md-5'>
				<p class="foot_para sm-text" align="right"> Check us out on: <img src="images/md.jpg" alt="Smiley face" width="50" height="50" style="float:right">
				  
				</p>
			</div>
		</div>
</div>
  </body>

  <script src='javascript/app.js'></script>
  <script src='javascript/controller.js'></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="javascript/promise.js"></script>
  <script src="javascript/directive.js"></script>
</html>