<div>
<h3 align="center">Check out some of our previous performances, and check our own back catalogue which you can purchase.</h3>
<h4 align="right"><form ng-submit="submit()" class="form-horizontal" novalidate>
      		<label>Search for a song: </label>
      		<input type="text" ng-model="user.firstname"/>
      		<button class="btn">Submit</button>
</form></h4>
<h3>Our Newest Material</h3>
<div id="container" class="weddings-corporate-container">
			<div class='col-md-6' align="center">	
				<p class="music_para weddings-text"><iframe width="420" height="315" src="https://www.youtube.com/embed/IGYaP3Yy10s" frameborder="0" allowfullscreen></iframe>
				</p></div>
				<div class='col-md-6' align="center">
				<p class="music_para corporate-text"><iframe width="420" height="315" src="https://www.youtube.com/embed/xvqeSJlgaNk" frameborder="0" allowfullscreen></iframe></p>
			</div>
		</div>
<h3>Other Greats</h3>
<div id="container" class="weddings-corporate-container">
			<div class='col-md-6' align="center">	
				<p class="music_para weddings-text"><iframe width="420" height="315" src="https://www.youtube.com/embed/sUzs5dlLrm0" frameborder="0" allowfullscreen></iframe>
				</p></div>
				<div class='col-md-6' align="center">
				<p class="music_para corporate-text"><iframe width="420" height="315" src="https://www.youtube.com/embed/ejw_LOi-nhk" frameborder="0" allowfullscreen></iframe></p>
			</div>
			</div>
			<div id="container" class="weddings-corporate-container">
			<div class='col-md-6' align="center">
				<p class="music_para corporate-text"><iframe width="420" height="315" src="https://www.youtube.com/embed/KnMuwzm7kw4" frameborder="0" allowfullscreen></iframe></p>
			</div>
			<div class='col-md-6' align="center">
				<p class="music_para corporate-text"><iframe width="420" height="315" src="https://www.youtube.com/embed/XfuBREMXxts" frameborder="0" allowfullscreen></iframe></p>
			</div>
		</div>
<h3>Purchase our songs</h3>
<ul class="list-group">
	<li class="list-group-item">Swing in Time &emsp;<br>- <a href="#/OurMusic">Listen on Spotify</a> &emsp;- <a href="#/OurMusic">Buy on iTunes</a></li>
	<li class="list-group-item">Doop de Doop &emsp;<br>- <a href="#/OurMusic">Listen on Spotify</a> &emsp;- <a href="#/OurMusic">Buy on iTunes</a></li>
	<li class="list-group-item">Bop Bam-a-Ram &emsp;<br>- <a href="#/OurMusic">Listen on Spotify</a> &emsp;- <a href="#/OurMusic">Buy on iTunes</a></li>
	<li class="list-group-item">Shoop be Doop &emsp;<br>- <a href="#/OurMusic">Listen on Spotify</a> &emsp;- <a href="#/OurMusic">Buy on iTunes</a></li>
	<li class="list-group-item">What is he doing with that sheep? &emsp;<br>- <a href="#/OurMusic">Listen on Spotify</a> &emsp;- <a href="#/OurMusic">Buy on iTunes</a></li>
	<li class="list-group-item">Sheep's Swinging &emsp;<br>- <a href="#/OurMusic">Listen on Spotify</a> &emsp;- <a href="#/OurMusic">Buy on iTunes</a></li>

</ul>
</div>
</div>
<br><br>

<div class="footer">	
<div id="container" class="foot-container">
			<div class='foot'>	
				<p class="foot_para signup-text">
				<form ng-submit="submit()" class="form-horizontal" novalidate>
      		<label>Sign-up to our <label>Newsletter:
					<input type="checkbox" ng-model="checkboxModel.newsletter">
				</label>
				<label>Mailing List:
					<input type="checkbox" ng-model="checkboxModel.mailing">
				</label></label><br>
      		<input type="text" ng-model="user.firstname" size='20'/>
      		
      		<button class="btn">Submit</button>
</form>


				</p></div>
				<div class='foot'>
				<p class="foot_para terms-text" align="center">
				  <a href="#/contact">Terms & Conditions</a> ~ <a href="#/contact">Contact us</a>
				</p>
			</div>
			<div class='foot'>
				<p class="foot_para sm-text" align="right"> Check us out on: <img src="images/md.jpg" alt="Smiley face" width="50" height="50" style="float:right">
				  
				</p>
			</div>
		</div>
</div>
