<div>
<h3 align="center">Want to see us in person? Come and join us at one of our personal gigs and walk away with your mind blown, and your feet still tapping.</h3>

<h3>Upcoming Dates</h3>
<div id="container">
			<div class='col-md-4' align="center">	
				<p >
				<strong>
				Nov 25th<br>Vicar St.,<br>Dublin 2<br>8 - 10pm<br>€25<br>
				<div id="radiusTest">Book Now!</div>
				</strong>
				</p>
			</div>
			<div class='col-md-4' align="center">
				<p class="music_para corporate-text">
				<strong>
				Dec 16th<br>Everyman Theatre,<br>Cork City<br>9:30 - 12pm<br>€22.50<br>
				<div id="radiusTest">Book Now!</div>
				</strong>
				</p>
			</div>
			<div class='col-md-4' align="center">
				<p class="music_para corporate-text">
				<strong>
				Jan 16th<br>INEC,<br>Killarney<br>9:00 - 12pm<br>€22.50<br>
				<div id="radiusTest">Book Now!</div>
				</strong>
				</p>
			</div>
		</div>


<h3>Check out some videos from previous gigs:</h3>
<div id="container" class="weddings-corporate-container">
			<div class='col-md-6' align="center">	
				<p class="music_para weddings-text"><iframe width="420" height="315" src="https://www.youtube.com/embed/IGYaP3Yy10s" frameborder="0" allowfullscreen></iframe>
				</p></div>
				<div class='col-md-6' align="center">
				<p class="music_para corporate-text"><iframe width="420" height="315" src="https://www.youtube.com/embed/xvqeSJlgaNk" frameborder="0" allowfullscreen></iframe></p>
			</div>
		</div>
</div>
<br><br>
<div id="container" class="foot-container">
			<div class='foot'>	
				<p class="foot_para signup-text">
				<form ng-submit="submit()" class="form-horizontal" novalidate>
      		<label>Sign-up to our <label>Newsletter:
					<input type="checkbox" ng-model="checkboxModel.newsletter">
				</label>
				<label>Mailing List:
					<input type="checkbox" ng-model="checkboxModel.mailing">
				</label></label><br>
      		<input type="text" ng-model="user.firstname" size='20'/>
      		
      		<button class="btn">Submit</button>
</form>


				</p></div>
				<div class='foot'>
				<p class="foot_para terms-text" align="center">
				  <a href="#/contact">Terms & Conditions</a> ~ <a href="#/contact">Contact us</a>
				</p>
			</div>
			<div class='foot'>
				<p class="foot_para sm-text" align="right"> Check us out on: <img src="images/md.jpg" alt="Smiley face" width="50" height="50" style="float:right">
				  
				</p>
			</div>
		</div>